<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 简单例子-王英宇</title>
<style>
	.title{
		text-align: center;
		font-size: 24px;
	}
	.app_input{
		width: 200px;
		margin:20px auto;
	}
	p{
		height: 22px;
	}
</style>
<script src="../js/vue.js"></script>
</head>
<body>
<!-- title -->
<div id="app" class="title">
  <p>{{ message }}</p>
</div>

<!-- 循环数据 -->
<div id="app1">
  <ul>
  	<todo-item
  	v-for = 'item in dlist' 
  	v-bind:todo = 'item' 
  	v-bind:key = 'item.id'>
  	</todo-item>
  </ul>
</div>

<!-- 数据绑定 -->
<div id="app2" class="app_input">
	<p>数据动态绑定</p>
  <h5>{{ message }}</h5>
  <h5 v-once>{{ message }}</h5>
  <input v-model='message'>
</div>

<!-- 点击显示隐藏 -->
<div id="app3" class="app_showorhide">
	<p v-if="seen">我是内容</p>
	<button v-on:click="bclick" v-bind:title="message">点我文字显示隐藏</button>
</div>

<!-- 简写 -->
<p>#v-bind:url简写为:url</p>
<p>### <<span>a</span> v-bind:url><<span>/a</span>> 简写 ： <<span>a</span> :url><<span>/a</span>>
<p>#v-on:eclick简写为@eclick</p>
<p>### <<span>a</span> v-on:eclick><<span>/a</span>> 简写 ： <<span>a</span> @eclick><<span>/a</span>>
<script src="../js/app.js"></script>
</body>
</html>